$bg-container: #ffffff;
$cl-text: #959393;
$cl-text-light: #f0f0f0;
$cl-icon: #5b5a5a;
$cl-danger: #ef1e1e;
$cl-primary: #d0bf00;
$cl-success: #089f15;
$cl-main: #2953eb;
$liner-gradiant: #5c47bd, #6d54d8, #ae69dd;