<div id="wrap-container">
    <div id="form-login">
        <a routerLink="/register" class="close_login"><i class="bi bi-x-circle"></i></a>
        <h1>Đăng Nhập</h1>
        <form method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="text" class="title">Username:</label> <br />
                <div class="box-group">
                    <input type="text" formControlName="username" class="input username" placeholder=" " autofocus
                        autocomplete="off" />
                    <label class="label">Username</label>
                </div>
            </div>
            <small *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.errors?.['required']">Username is required</div>
            </small>
            <div class="form-group">
                <label for="pass" class="title">Password:</label> <br />
                <div class="box-group">
                    <input type="password" formControlName="password" class="input password" placeholder=" "
                        autocomplete="off" />
                    <label class="label">Password</label>
                </div>
            </div>
            <small *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>
            </small>
            <div class="button">
                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>