<!-- friends.component.html -->
<section class="main">
    <h1>Events</h1>
    <!-- Component Main -->
    <div class="main_events">
        <!-- Tạo một danh sách bạn bè -->
        <div class="main_events_list">
            <div class="event_item">
                <img src="../../assets/images/avatar.jpg" alt="Event">
                <div class="date">
                    <h2>12</h2>
                </div>
                <p>12 - 3 - 2014</p>
                <h2>Event Name</h2>                
            </div>
            <div class="event_item">
                <img src="../../assets/images/avatar.jpg" alt="Event">
                <div class="date">
                    <h2>12</h2>
                </div>
                <p>12 - 3 - 2014</p>
                <h2>Event Name</h2>                
            </div>
            <div class="event_item">
                <img src="../../assets/images/avatar.jpg" alt="Event">
                <div class="date">
                    <h2>12</h2>
                </div>
                <p>12 - 3 - 2014</p>
                <h2>Event Name</h2>                
            </div>
            <div class="event_item">
                <img src="../../assets/images/avatar.jpg" alt="Event">
                <div class="date">
                    <h2>12</h2>
                </div>
                <p>12 - 3 - 2014</p>
                <h2>Event Name</h2>                
            </div>                
        </div>
    </div>
</section>