@import "../../../assets/style/base";
@import "../../../assets/style/variables";
@import "../../../assets/style/mixins";

/* Main */
main {
    .main_container {
        @include gr-layout;
        margin-top: 5rem;
        padding-top: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cl-text-light;
    }
}
